<h1><%= @user.username %>'s beats:</h1>

<ul>
  <% @beats.each do |beat| %>
    <li><a href="/beats/<%= beat.slug %>"><%= beat.name %></a></li>
  <% end %>
</ul>

<p>Click <a href="/beats/new">here</a> to add beats.</p>
