<h1>Add a new beat:</h1>
<form action="/beats/new" method="POST">
  <!-- Enter beat name -->
  <label for="name">Beat name: </label>
  <input type="text" name="name" id="name">

  <!-- Select from tags -->
</form>
