<h1>Welcome to Beat Store</h1>

<p>This website allows beat makers to sign up, add beat titles to their account, and tag those beats.</p>
<p>Users may choose from a list of existing tags and/or create their own tags.</p>
<p>Anyone may view all existing beat titles from a beats index page</p>
<p>These titles may be filtered by their tags</p>
