<h1>Welcome to Beat Store</h1>

<h2>About Beat Store:</h2>

<p>This website allows beat makers to sign up, add beat titles to their account, and tag those beats. Users may choose from a list of existing tags and/or create their own tags. Anyone may view all existing beat titles from a beats index page. These titles may be filtered by their tags</p>

<h2>Click on the following links to either <a href="/users/login">Login</a> or <a href="/users/signup">Signup</a>.</h2>
