<!doctype html>
<html>
  <head>
    <title>Beat Store</title>
  </head>
  <body>
    <% if logged_in? == true %>
      <a href="/logout">Log Out</a>
    <% end %>
    <div class="container">
      <%= yield %>
    </div>

  </body>
</html>
